{{template "base" .}}

{{define "title"}}Manuscripts{{ end }}

{{define "manuscriptActive"}}<li class="nav-link active"><a href="/manuscripts">Manuscripts</a></li>{{ end }}

{{define "body"}}
<h2>Manuscripts</h2>

{{end}}